.message-container{
    display: flex;
    align-items: center;
    margin:1rem 0;

    &.first{
      @media screen and (min-width: 768px){
        flex-flow: row-reverse;
      }
    }
    
} 
.arrow{
    border: 0.5rem solid;
  
    &.first{
        border-color: transparent green transparent transparent;
        @media screen and (min-width: 768px){
          border-color: transparent transparent transparent green;
        }
    }
    &.second{
        border-color: transparent #f0f2f5 transparent transparent;
    }
    
}
.message-content{
   
    min-height: 35px;
    padding:0 3px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    &.second{
        background:#f0f2f5;
    }
    &.first{
        background:green;
    }
}

.message{
    display:inline-block
}